<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.exams">

    <uses-configuration android:name="android.permission.CAMERA" />
    <uses-configuration android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="המבחנון"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenPictures" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewReminder"  android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".ClassDocs" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ClassPictures" android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <!--
 Main music service, provides media browsing and media playback services to
         consumers through MediaBrowserService and MediaSession. Consumers connect to it through
         MediaBrowser (for browsing) and MediaController (for playback control)
        -->
        <activity android:name=".MyReminder" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MyClass" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.user.exams.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".MyBroadcastReceiver" android:theme="@style/Theme.AppCompat.NoActionBar" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

            </intent-filter>
        </receiver>
    </application>

</manifest>